@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Satisfy');

#send-audio {
	width: 150px;
	height: 150px;
	padding: 20px;
	transform: rotate(-45deg);
}

body {
	height: 100vh;
}

#background {
	background-image: url(./img/dan-gold-274702-unsplash.jpg);
	background-size: 100%;
}

.backgroundOverlay {
	height: 100%;
	width: 100%;
	background-color: rgba(36,36,36,0.2);
}

#titleFont {
	font-family: 'Satisfy', cursive;
}

.btn {
	text-align: center;
	height: 70px;
	width: 100px;
	margin: 20px;
	font-family: 'Noto Serif SC', serif;
}

#buttonContainer .btn {
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
}

/*I know this is hacky but it's just a fix for now*/
.topButton {
	width: 100px;
	margin: 0px;
}

#buttonContainer{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-family: 'Noto Serif SC', serif;
	background-color: rgba(175,159,159,0.4);
}

#mainTitle {
	color: white;
	font-family: 'Satisfy', cursive;
	margin: 40px;
	font-size: 80px;
	float: left;
}

.navbar {
	background-color: #833939;
	height: 80px;
}

#banner {
	display:flex;
	justify-content: center;
	align-items: center;
	padding: 105px 0 105px 0;
}

#logo {
	border: 3px solid white;
	border-radius: 50px;
	transform: rotate(45deg);
	box-shadow: 15px 15px 0 0 #8B6248;
}

.pulseLogo {
	animation: pulse 5s infinite;
}

.chooser {
	flex-basis: 1;
}

#button-div {
	text-align: right;
	width: 100%;
}

.modal-standards {
	padding: 20px;
}

@keyframes pulse {
	0% , 100% {
		transform: scale(1) rotate(45deg);
		background-color: rgba(255, 0 ,0, 0.2);
	} 50% { 
		transform: scale(1.1) rotate(45deg);
		background-color: rgba(255, 0 ,0, 0.6);
	}
}
  